@page "/donorpage"
@inject NavigationManager Navigation
<PageTitle>Be+ Donor SignIn</PageTitle>


	<header>
		<img src="resources/2.png" width="auto" height="150px">
		<nav>
			<ul>
				<li><a href="/">BE+ Home</a></li>
				<li><a href="adminlogin">Admin</a></li>
				<li><a href="hospitallogin">Request Blood</a></li>
				
			</ul>
		</nav>
	</header>
	<hr>
	<div class="body-content">
		<div class="donate-card">
			<!-- HEADING AREA -->
			<h1 style="margin-bottom: 3px; font-weight:600;">BE+ Blood</h1>
			<h2 style="margin-top: 3px;">Donation Form</h2>
			<h4>Fill out the following form to book an appointment with us</h4>
			<br><br>
			<!-- HEADING AREA -->


			<div class="form-container">
				<div class="form-group">
					<span class="makeshift-label">CNIC:</span>	<input type="number" @bind="bufferCnic" required>
				</div>

				<div class="form-group">
					<span class="makeshift-label">Fullname:</span>	<input type="text" @bind="bufferName" required>
				</div>	
			</div>
			<div class="form-container">
				<div class="form-group"> 
					<span class="makeshift-label">Phone:</span>	<input type="number" @bind="bufferPhone" required>
				</div>

				<div class="form-group">
					<span class="makeshift-label">Email:</span>	<input type="email" @bind="bufferEmail" required>
				</div>
			</div>

        <span class="makeshift-label">Select Location :</span>  
			
			<label><input type="radio" name="options" @onchange="@((args) => location = "IBP")" /> Infusion Bank, Peshawar</label>
			<label><input type="radio" name="options" @onchange="@((args) => location = "DoL")" /> Drops of Life, Islamabad</label>

			<br>

			<span class="makeshift-label">Select Time :</span>
			<label><input type="radio" name="options" @onchange="@((args) => time = 12)" />  12:00 PM</label>
			<label><input type="radio" name="options" @onchange="@((args) => time = 1)" />  1:00 PM</label>
			<label><input type="radio" name="options" @onchange="@((args) => time = 3)" />  3:00 PM</label>



			
			<br>

			<span class="makeshift-label" style="display: inline-block;">Select Date :</span>
			<input type="date" id="dateInput">  <!-- Available slots? does this needs to be linked? can't -->
			<script>
				// Function to get today's date in YYYY-MM-DD format
				function getTodayDate() {
					const today = new Date();
					const year = today.getFullYear();
					const month = String(today.getMonth() + 1).padStart(2, '0');
					const day = String(today.getDate()).padStart(2, '0');
					return `${year}-${month}-${day}`;
				}
				// Set the min attribute of the date input to today's date
				document.getElementById('dateInput').setAttribute('min', getTodayDate());
			</script>

			<div style="text-align: center;">
				<button class="buttontypetwo" @onclick="evaluate">Send Donation Request</button>
			</div>

		</div>
	</div>

	<hr>
	<footer>
		<div class="footer-list">
			<ul>
				<li><a href="aboutpage">About Be+</a></li>
				 <li style="padding-left: 705px;"><a href="HMAS">About HMAS</a></li> 
				<br>
				<li><a href="rick">Rick</a></li>
			</ul>
		</div>
		 <p>&copy; 2024 Be+ Blood Bank WebApp. Property of HMAS. All rights reserved.</p>
	</footer>


@code {
	/*
		the buffers are used to interact with the form and then as user clicks the submit button, the values of buffers will be passed to the
		actual variables that im gonna use to interact w the database :)
	*/ 

	public string bufferName;
	public string name;
	public string bufferEmail;
	public string email;
	public string location;
	public int time; //it'll either be 12, 1 or 3 so taking it as an int and not actual time datatype
	public long bufferCnic;
	public long cnic;  //13 digits long  || Add check for this
	public long bufferPhone;
	public long phone;	//11 digits long || Add check for this

	// FIGURE SMTH OUT TO GET THE DATE FROM THE CALENDER !!!

	//when user clicks on submit : add a check that checks all values for integrity (size of cnic, phone etc) and then proceed to submitting to
	// DB or else display an error message to correct whats wrong.

	public void evaluate()
	{
		if(bufferCnic < 1000000000000 || bufferCnic > 9999999999999)
		{
			
		}

	}


}